
@import url('https://fonts.googleapis.com/css2?family= Krona+One & family= Montserrat:wght@400;600 & display =swap');
:root { /* Criando uma variável global para as cores */
    --cor-primaria: #000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22d4fd;

}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; (isso aqui era para o body ocupar 100% da página, mas como criamos um rodapé e outras coisas a mais, o body de 100% acabaria ultrapassando */
    box-sizing:border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

h1 {
    font-weight:bold;
}

.cabecalho {
    padding: 2% 0% 0% 15%; /*cima, direito, abaixo, esquerdo*/
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%; /* Espaçamento do conteúdo interno */
    display: flex; /* Para que eu possa agrupar as coisas contidas e mexer todas juntas */
    align-items: center; /* Alinhando o texto no centro */
    justify-content: space-between; /* Um tipo de espaçamento entre cada coisa */
    gap: 82px;
}

  
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex; /*Pegandp um conjunto para mexer neles ao mesmo tempo*/
    flex-direction: column; /*Fazendo com que fique em colunas*/
    justify-content: space-between;
    align-items: center; /*Para alinhar no centro*/
    gap: 32px; /*Uso para gerar um espaço entre os itens*/
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif; /*Chamando a fonte*/
    font-weight: 400; /*O peso da fonte*/
    font-size: 1.3rem; /*Tamanho da fonte*/
}

.apresentacao__links__navegacao {
    display: flex;/*Quero que os meus elementos tenham uma disposição diferente utilizando o flexbox*/
    justify-content: center; /*justificar os elementos no centro*/
    gap: 16px; /*Colocando um espaçamento entre os ícones e o nome*/
    border: 2px solid var(--cor-terciaria); /*No border eu já posso agrupar informações de espessura, o trastejado que é sólido e cor*/
    width: 50%; /*No caso aqui é para deixar o botão mais larguinho "padding", só que com porcentagem para ficar relativo ao elemento pai*/
    text-align: center;
    border-radius: 8px; /*Deixar as extremidades da borda arredondada*/
    font-size: 1.3rem;
    font-weight: 600;
    padding: 19.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__navegacao:hover { /*Mudar a cor do botão quando o mouse passar por cima a:hover*/
    background-color: #272727;

}

.apresentacao__imagem {
    width: 40%; /* Criei a classe para mexer no tamanho da imagem, e quando usamos a porcetagem, estamos nos referindo a porcentagem dentro da classe pai que é o <main> */
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

}

@media (max-width: 1200px) { /* Cria uma condição para eu poder mudar meu layout de acordo com os pontos de quebra que eu definir... então, abro uma nova chave e dito o que vai mudar */
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
  
    .apresentacao {
        flex-direction: column-reverse; /* Eu quis colocar em coluna, se colocasse somente column, a imagem ficaria por baixo */
        padding: 5%;
    }
  
    .apresentacao__conteudo {
        width: auto;
}
